@media (max-width: 768px) {
  .main {
    background-color: rgba($color: #000000, $alpha: 0.5);
    transition: 0.5s ease-in-out;
    aside {
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 999;
      -moz-transition: 0.5s ease-in-out;
      -ms-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
    }
  }
}
